/* Write your code here. */
* {
  box-sizing: border-box;
  margin: 0;
}
.container {
  background-image: url("https://assets.ccbp.in/frontend/react-js/congrats-card-bg.png");
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  font-family: "Roboto";
  font-size: 30px;
  color: #0f172a;
}
.card {
  background-color: #cffafe;
  margin-top: 15px;

  padding: 30px;

  text-align: center;
}
img {
  width: 80px;
  margin-top: 15px;
}
p {
  font-size: 18px;
}
